.authTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem;
  /* --- MODIFICARE TEMĂ --- */
  background-color: #111827;
  /* Fundal întunecat (ca la Header) */
  /* --- SFÂRȘIT MODIFICARE --- */
  box-sizing: border-box;
  margin: 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.logoContainer {
  font-size: 1.5rem;
  /* Logo.module.css se va ocupa de culori */
}