.selectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selectLabel {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #D1D5DB;
  margin-bottom: 0.25rem;
}

.selectBase {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #374151;
  background-color: #1F2937;
  color: #F9FAFB;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  line-height: 1.5;
  transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  font-size: 0.9rem;
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%239CA3AF' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

.selectBase:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #6D28D9;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05), 0 0 0 2px #6D28D9;
}

.selectBase:disabled {
  background-color: #374151;
  cursor: not-allowed;
  border-color: #4B5563;
  color: #9CA3AF;
}

.selectBase option {
  background-color: #1F2937;
  color: #F9FAFB;
}