.avatarBase {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  overflow: hidden;
  vertical-align: middle;

  background-color: #8B5CF6;
  color: #ffffff;
}

.sm {
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
}

.md {
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
}

.lg {
  width: 4rem;
  height: 4rem;
  font-size: 1rem;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initialsFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}