.searchBarContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 6px;
  background-color: #2f2f35;
}

.categorySelect {
  background-color: #3b3b42;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border-right: 1px solid #555;
  outline: none;
  cursor: pointer;
  appearance: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  width: 90px;
  min-width: 90px;
  text-align: center;
}


.searchInput {
  flex: 1;
  background: #2f2f35;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  outline: none;
  min-width: 0;
}
.searchInput:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #6366f1;
  border-radius: 0;
}


.searchButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
