.inputBase {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #374151;
  background-color: #1F2937;
  color: #F9FAFB;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  line-height: 1.5;
  transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.inputBase:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #6D28D9;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05), 0 0 0 2px #6D28D9;
}

.inputBase:disabled {
  background-color: #374151;
  cursor: not-allowed;
  border-color: #4B5563;
}

.inputBase::placeholder {
  color: #6B7280;
  opacity: 1;
}