.formContainer {
  width: 100%;
  max-width: 500px; 
  padding: 1.5rem;
  background-color: #1F2937;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid #8B5CF6;
  margin: 0 auto;
}

.formTitle {
  font-size: 1.75rem;
  font-weight: 700;
  color: #F9FAFB;
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonWrapper {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}