.headerContainer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 1rem 2rem;

  background-color: #111827;
  border-bottom: 1px solid #111827;
  color: #F9FAFB;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  gap: 1.5rem;
}

.headerLeft {
  flex-shrink: 0;
}

.headerLeft a {
  color: #F9FAFB;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.headerCenter {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 800px;
}

.headerNav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.headerSearch {
  max-width: 1000px;
  width: 100%;
}

.headerRight {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginButton,
.registerButton {
  font-weight: 600;
}