.alert-backdrop {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.alert-modal {
  background-color: #1F2937;
  border: 1px solid #374151;
  padding: 24px;
  width: 40%;
  height: 60%;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.2s ease-out;

  display: flex;
  flex-direction: column;
}

.alert-title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;

}

.alert-content {
  margin-bottom: 20px;
  font-size: 15px;
  max-height: 40vh;
  overflow-y: auto;
  color: #333;
}

.alert-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
}

.cancel-btn {
  background: #fff;
  border-color: #330;
  padding: 10px 30px;
  color: #1a73e8;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;

}

.star-row {
  display: flex;
  margin-bottom: 10px;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}

.star-icon {
  transition: 0.2s ease;
  width: 40px;
  height: 40px;
}

.post-btn {
  background-color: #6D28D9;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;

}

.alert-btn:hover {
  background: #1668c0;
}

.review-comment {
  margin-bottom: 20px;
  font-size: 15px;
  max-height: 30vh;
  overflow-y: auto;
  color: #E5E7EB;
  width: 100%;
  height: 60%;
  margin-top: 25px;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #1F2937;
  resize: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

button:hover {
  opacity: 0.9;
}

.post-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}