/* Page Container */
.product-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-page {
        padding: 2rem 1rem;
    }
}

.add-review-btn {
    background-color: #6D28D9;
    color: #ffffff;
    border-color: #6D28D9;
    padding: 10px 30px;

    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

button:hover {
    opacity: 0.9;
}