.formFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.1rem;
}

.formFieldLabel {
  font-size: 0.875rem;
  font-weight: 500;
  color: #D1D5DB;
  margin-bottom: 0.25rem;
  display: block;
}

.formFieldError {
  margin-top: 0.1rem;
  font-size: 0.875rem;
  color: #ef4444;
}