.formFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.formFieldLabel {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.5rem;
  display: block;
}

.formFieldError {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #ef4444;
}
