.footerContainer {
  width: 100%;
  padding: 2rem;
  background-color: #111827;
  border-top: 1px solid #374151;
  margin-top: 2rem;
}

.footerBottom {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 0;
  border-top: none;
  text-align: center;
  font-size: 0.9rem;
  color: #9CA3AF;
}